<div class="footer">
  <div class="parentItems">
    <div class="card">
      <h3>Contact with me</h3>
      <ul>
        <li><fa-icon [icon]="faPhone"></fa-icon> <span>01010101001</span></li>
        <li><fa-icon [icon]="faPhone"></fa-icon> <span>profile</span></li>
      </ul>
    </div>

    <div class="card">
      <button class="btnDownload">
        Download C.V
        <span><fa-icon [icon]="faDownload"></fa-icon></span>
      </button>
    </div>

    <div class="card">
      <div class="parentIcon">
        <span class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></span>
        <span class="icon"><fa-icon [icon]="faFacebook"></fa-icon></span>
        <span class="icon"><fa-icon [icon]="faGithub"></fa-icon></span>
      </div>
      <a href="mailto:ahhussein000@gmail.com">Send Email</a>
    </div>
  </div>
</div>
<!-- <i class="fa-solid fa-download"></i> -->
<!-- <i class="fa-brands fa-facebook-f"></i> -->
<!-- <i class="fa-brands fa-github"></i> -->
