<div class="about">
  <div class="container d-flex g-5 align-items-center justify-content-between">
    <div class="titleAbout">
      <h1 class="">About</h1>
    </div>
    <div class="discriptionAbout w-50 m-auto">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam
        error magni deserunt non et ab amet. Neque ab temporibus odit velit
        alias vel iusto quos veniam voluptate, eum quidem.
      </p>
      <button class="btnDownload" (click)="downloadPdf()">
        Download C.V <span><fa-icon [icon]="faDownload"></fa-icon></span>
      </button>
    </div>
  </div>
</div>
