/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
span{
  display: inline-block;
}
.btnDownload {
  border: 2px solid #f15b43;
  color: #f15b43;
  text-transform: normal;
  padding: 16px 28px !important;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.4s linear;
  overflow: hidden;
  border-radius: 0px;
  z-index: 1;
  background-color: #ffffff;
}
.HeroSection .contentHero .btnDownload:hover::before {
  border: 1px solid transparent;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #f15b43;
  z-index: -1;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0;
}
.HeroSection .contentHero .btnDownload:hover {
  color: #2d3436;
}
